<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />      
    </startup>
  <appSettings>
    <add key="digital-7" value="Resources\digital-7.ttf"/>
    <add key="digital-7_mono" value="Resources\digital-7 (mono).ttf"/>
    <add key="pathConfig" value="Resources\Config.ini"/>
  </appSettings>
</configuration>