<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />      
    </startup>
  <appSettings>
    <add key="digital-7" value="Resources\digital-7.ttf"/>
    <add key="digital-7_mono" value="Resources\digital-7 (mono).ttf"/>
    <add key="pathConfig" value="Resources\Config.ini"/>
    <add key="hex_DozaNow" value="55 01 FE 0C 01 03 00 81 04 16"/>
    <add key="hex_MassFlow" value="55 01 FE 0C 01 03 01 0C 04 8A"/>
    <add key="hex_VolumeFlow" value="55 01 FE 0C 01 03 00 B4 04 E3"/>
    <add key="hex_Temperature" value="55 01 FE 0C 01 03 01 08 04 8E "/>
    <add key="hex_RoH2O" value="55 01 FE 0C 01 03 01 10 04 86"/>
  </appSettings>
</configuration>